{% extends 'registration/base.html' %}
{% load crispy_forms_filters %}
{% block title %}{% block title-meta %}
     عملیات با موفقیت انجام شد
{% endblock %}{% endblock %}

{% block main %}
    <div class="col-md-8 text-center mx-auto">
        <!-- general form elements -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title float-left mb-0">تغییر رمز عبور</h3>
            </div>
            <!-- /.card-header -->
            <!-- /.card -->
            <div class="card-body py-4">
                <form>
                    <p py-2>
                        رمز عبور با موفقیت تغیر یافت.
                    </p>
                    <input type="submit" value="حذف">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
