{% extends 'registration/login_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block main %}
    <div class="limiter">

        <div class="container-login100"
             style="background-image: url('{% static 'registration/login/images/bg-01.jpg' %}');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form " method="post">{% csrf_token %}
                    <span class="login100-form-title p-b-49 myfont">
                    بازیابی رمز عبور
                    </span>

                    <div class=" validate-input m-b-23 ">
                        <p class="label-input100 myfont mb-3">گذرواژهٔ جدید ایجاد شد</p>

                        <p class="myfont">
                            گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید.
                        </p>

                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>

                            <a class="login100-form-btn myfont" href="{% url 'login' %}">
                                ورود
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}