@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');

body{
    direction: rtl !important;
    text-align: right !important;
    font-family: Vazir !important ;
}

.myfont{
    font-family: Vazir !important;
}

.errors{
    color: red;
    background-color: #fbd4d4;
    padding: 20px 30px;
}

